.DS_Store
.browse.VC.db
vscode-chrome-debug.txt
npm-debug.log
*.vsix
*.pyc
*.wav

.idea/
lib/
node_modules/
/out/
typings/
testapp/.vscode/chrome
testapp/**/out/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
content/projects/mtg-stats/conn_info_pi.ini
.gitignore
content/projects/mtg-stats/conn_info_windows.ini
content/projects/mtg-stats/setup_windows_db.ps1
